/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.font {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.searchBarContainer {
    display: grid;
    place-items: center;
    width: 100%;
    height: 20%;
}

.searchBarInput {
    width: 15%;
    height: 30%;
    border-radius: 10px;
    margin: 2% auto;
    padding: 0.35vh 1vw;
}

.buttonSearch {
    font-size: 1.125rem;
    background-color: #581b70;
    color: white;
    box-shadow: -2px 2px 0px 2px #190820;
    cursor: pointer;
    padding: 1.5vh 3vw;
    border-radius: 50px;
    border: 0px;
    transition: 0.25s ease;
}

.buttonSearch:hover {
    background-color: #8228a5;
}