/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.rightColumnContainer {
    margin-left: 4%;
    width: 30%;
    min-height: 80vh;
    padding: 2%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.603);
    border-radius: 15px;
    box-shadow: 0 0 5px 3px black;
}

.playlistNameInput {
    display: block;
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 100%;
    height: 5vh;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
}

.playlistNameInput:focus {
    outline: none;
}

.playlistAddButton {
    margin-top: 8%;
    font-size: 1.125rem;
    background-color: #581b70;
    color: white;
    box-shadow: -2px 2px 0px 2px #190820;
    cursor: pointer;
    padding: 1.5vh 3vw;
    border-radius: 50px;
    border: 0px;
    transition: 0.15s ease;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.playlistAddButton:hover {
    background-color: #8228a5;
}

.playlistAddButton:active {
    box-shadow: none;
    transform: translateY(2px);
}