.searchInputContainer {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

.inputSearch {
    display: inline-block;
    width: 25%;
    margin: 2% auto;
    padding: 2% 3%;
    border-radius: 10px;
    color: white;
    border: 1px solid blueviolet;
    background-color: rgb(64, 19, 106);
}