/* Universal Styles */

html {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #000000;
    font-family: "Noto Sans JP", sans-serif;
}

header {
    width: 100%;
    min-height: 15.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 900;
    flex: 1 1 3rem;
    margin: 4rem auto;
    color: #D40000;
    text-shadow: 4px 4px 1px #d4000087;
}


h2 {
    color: #D40000;
    text-shadow: 2px 2px 1px #d4000087;
    font-size: 2.4rem;
    margin: 1.25rem auto;
    font-weight: 700;
}

h4 {
    color: #AA1717;
    margin-top: 1.5rem;
    font-size: 1.6rem;
    font-weight: 400;
}

/* Header Content */

.header-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: space-around;
    margin: 0 auto;
    width: 100%;
}

.header-content nav {
    background-color: transparent;
    width: 100%;
}

.header-content ul {
    display: flex;
    justify-content: space-around;
}

.header-content li {
    width: 30%;
}

.header-content li a {
    color: #AA1717;
    font-size: 1.5rem;
    text-decoration: underline;
}

.header-content li a:hover {
    color: #D40000;
    text-decoration: none;
}

/* Banner section */

.banner {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 40rem;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../media/edan-cohen-gjmbiBK9kI4-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
}

.banner div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    text-align: center;
}

/* Portfolio section */

#portfolio {
    margin: 5rem auto;
}

.portfolio-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin: 3rem auto;
    width: 80%;
}

.portfolio-item {
    max-width: 28%;
    margin: 1rem 1rem;
    flex-grow: 1;
    flex-shrink: 1;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.portfolio-item figcaption {
    color: #AA1717;
    margin: 1rem auto;
    font-size: 1.2rem;
    font-weight: 400;
}

/* Team section */

#team-section {
    margin: 5rem auto 2rem auto;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../media/team-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5rem 0;
}

#team-section h2 {
    margin-bottom: 3rem;
}

.team-container {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.team-item {
    max-width: 25%;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
}

.down {
    margin-top: 7rem;
}

.team-item img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.team-item figcaption {
    font-size: 1.7rem;
    font-weight: 700;
    color: #AA1717;
    text-shadow: 2px 2px 1px #d4000087;
    margin: 1.5rem auto;
}

.team-item p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #AA1717;
    max-width: 70%;
    margin: 0 auto;
}

/* Footer section */

footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 2rem;
}

footer h2 {
    margin-top: 1rem;
}

footer p {
    margin: 1rem auto;
    color: #AA1717;
    font-size: 1.15rem;
    font-weight: 400;
}

footer p:last-child {
    margin-top: 3rem;
}