/* Universal Styles */

html {
    font-size: 16px;
}

body {
    text-align: center;
    background-color: #332D2D;
    font-family: "Noto Sans JP", sans-serif;
}

header {
    width: 100%;
    min-height: 15.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 900;
    flex: 1 1 3rem;
    margin: 4rem auto;
    color: #fff;
}

/* Header Content */

.header-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 100%;
}

.header-content nav {
    background-color: #9E4141;
}

.header-content ul {
    display: flex;
    justify-content: space-around;
}

.header-content li {
    padding: 1.5rem;
}

.header-content li a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.header-content li a:hover {
    color: #382121;
}