@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

.App {
	text-align: center;
	font-family: "Plus Jakarta Sans", sans-serif;
}

.App-header {
	background-color: rgb(53, 20, 85);
	padding: 1%;
}

.App-main {
	background-image: linear-gradient(
			90deg,
			rgba(114, 58, 169, 0.9),
			rgba(114, 58, 169, 0.9)
		),
		url(./assets/media/karsten-winegeart-X2reytV0chs-unsplash.webp);
	background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
	min-height: 100vh;
}
